aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
arabic-reshaper==2.1.3
asgiref==3.4.1
async-generator==1.10
async-timeout==4.0.2
autopep8==1.5.7
bcrypt==3.1.7
blinker==1.4
Bottleneck==1.2.1
ccxt==1.58.90
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
cmdtest==0.32+git
colorama==0.4.4
command-not-found==0.3
crispy-tailwind==0.5.0
cryptography==36.0.2
cupshelpers==1.0
dbus-python==1.2.16
defusedxml==0.7.1
distro==1.5.0
distro-info==1.0
dj-database-url==0.5.0
Django==3.2.6
django-crispy-forms==1.13.0
django-import-export==2.6.1
django-mathfilters==1.0.0
docker==4.4.4
docker-compose==1.27.4
docopt==0.6.2
duplicity==0.8.17
et-xmlfile==1.1.0
folium==0.12.1.post1
frozenlist==1.3.0
future==0.18.2
gunicorn==20.1.0
gyp==0.1
h11==0.13.0
html5lib==1.1
httplib2==0.18.1
idna==2.10
importlib-metadata==1.6.0
jdcal==1.0
jeepney==0.6.0
Jinja2==2.11.2
jsonschema==3.2.0
keyring==22.2.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
llvmlite==0.35.0
lockfile==0.12.2
lxml==4.6.3
macaroonbakery==1.3.1
Markdown==3.3.4
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib==3.4.3
monotonic==1.5
multidict==5.2.0
netifaces==0.10.9
numba==0.52.0
numexpr==2.7.2
numpy>=1.19.5
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.9
outcome==1.1.0
packaging==20.9
pandas>=1.1.5
paramiko==2.7.2
pexpect==4.8.0
protobuf==3.12.4
psutil==5.8.0
pycares==4.1.2
pycodestyle==2.7.0
pycups==2.0.1
Pygments==2.7.1
PyGObject==3.38.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyMySQL==0.9.3
PyNaCl==1.4.0
pyOpenSSL==22.0.0
pyRFC3339==1.1
pyrsistent==0.15.5
PySocks==1.7.1
python-apt==2.2.1
python-binance==1.0.15
python-dateutil==2.8.1
python-debian==0.1.39
python-decouple==3.4
python-dotenv==0.15.0
python-xapp==2.0.2
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
reportlab==3.5.66
requests==2.25.1
SecretStorage==3.3.1
setproctitle==1.2.1
simplejson==3.17.2
six==1.15.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
soupsieve==2.2
sqlparse==0.4.2
systemd-python==234
tables==3.6.1
tablib==3.0.0
toml==0.10.2
trio==0.20.0
trio-websocket==0.9.2
ttystatus==0.38
typing-extensions==3.10.0.2
tzlocal==4.1
ubuntu-advantage-tools==27.3
ubuntu-drivers-common==0.0.0
ujson==4.2.0
Unipath==1.1
urllib3==1.26.2
wadllib==1.3.5
webencodings==0.5.1
websocket-client==0.57.0
websockets==9.1
whitenoise==5.3.0
wsproto==1.1.0
xdg==5
xkit==0.0.0
xlwt==1.3.0
yarl==1.6.3
zipp==1.0.0
Pillow>=8.1.2